node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
.env
.env.*
!.env.example
*.log
coverage/
*.tsbuildinfo
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
